*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Font Setup */
    --title: 1.125rem;
    --body: .875rem;
    --small: .75rem;
    --tag: .625rem;

    /* colors */
    --pink: #F2EAFD;
    --purple: #7C19EE;
    --light-gray: #E5EAF0;
    --off-white: #FAFAF9;
    --white: #FFFFFF;
    --navy-blue: #20293A;
    --navy-gray: #394150;
}

body{
    background-color: var(--white);
}

.page-container{
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin: 0px 72px;
}

.display-card{
    grid-column: 1 / span 12;
    margin: 164px auto 0px auto;
    height: fit-content;
    width: 368px;
    padding: 16px 16px 20px 16px;
    background-color: var(--off-white);
    border-radius: 12px;
    box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.08);
    font-family: "Sora", sans-serif;
}

.img-wrapper{
    height: 152px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.display-img{
    width: 100%;
    height: 100%;
}

.title{
    font-size: var(--title);
    color: var(#20293A);
    margin-bottom: 6px;
}

.body-text{
    font-size: var(--body);
    color: var(--navy-gray);
}

.tag{
    margin: 16px 0px 16px 0px;
    padding: 4px 16px;
    width: fit-content;
    border-radius: 1000px;
    background-color: var(--pink);
    color: var(--purple);
    font-weight: bold;
    font-size: var(--tag);
}

.line{
    margin: 20px 0px;
}

.name{
    font-size: var(--small);
    color: var(--navy-gray);
}

#copyright{
    grid-column: 1 / span 12;
    margin: auto auto;
    font-family: "Sora", sans-serif;
    font-size: var(--body);
}


/* Mobile */
@media screen and (max-width: 768px) {
    .page-container{
        grid-template-columns: repeat(3, 1fr);
        margin: 0px
    }

    .display-card{
        width: 320px;
        grid-column: 1 / span 3;
    }

    #copyright{
        grid-column: 1 / span 3
    }
}